div.BarTitle, div.BarInner {
    width: 100%;
    background-color: transparent;
    padding: 0;
    margin: 0;
}

div.Bar {
    width: 90%;
    height: 120px;
    background-color: lightgrey;
    border-style: solid;
    border-radius: 10px;
    border-width: 2px;
    border-color: darkgrey;
    box-sizing: border-box;
    padding: 5px;
}

div.BarTitle {
    height: 25%;
    font-size: 12pt;
    text-align: left;
    color: black;
}

div.BarInner {
    height: 75%;
    overflow-x: auto;
}

div.BarBlockSequence {
    width: 100%;
    height: 100%;
    background-color: transparent;
    display: flex;
    padding: 0;
    margin: 0;
}

span.BarHeader {
    font-size: 18pt;
}

div.BarBlock {
    height: 100%;
    position: relative;
    background-color: lightgrey;
    border-style: solid;
    border-radius: 10px;
    border-width: 2px;
    border-color: darkgrey;
    box-sizing: border-box;
    overflow: hidden;
    font-size: 13pt;
    text-align: left;
    color: black;
    white-space: nowrap;
}
