div.Bar {
    width: 90%;
    background-color: lightgrey;
    border-style: solid;
    border-radius: 10px;
    border-width: 2px;
    border-color: darkgrey;
    box-sizing: border-box;
    padding: 5px;
    text-align: left;
    cursor: pointer;
}

span.Tag {
    background-color: red;
    border-style: solid;
    border-radius: 5px;
    border-width: 2px;
    border-color: darkred;
    color: white;
    font-weight: bold;
}
