div.Bar {
    width: 90%;
    background-color: lightgrey;
    border-style: solid;
    border-radius: 5px;
    border-width: 0;
    box-sizing: border-box;
    padding: 5px;
    text-align: left;
}

div.Clickable {
    cursor: pointer;
}

td.Label {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
    color: #544;
    width: 3cm;
}

td.ShortLabel {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
    color: #544;
    width: 1cm;
}