span.ActiveTag {
    background-color: red;
    border-style: solid;
    border-radius: 5px;
    border-width: 2px;
    border-color: darkred;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

span.InactiveTag {
    background-color: gray;
    border-style: solid;
    border-radius: 5px;
    border-width: 2px;
    border-color: dimgray;
    color: lightgray;
    font-weight: bold;
    cursor: pointer;
}
