span.ActiveTag {
    background-color: red;
    border-style: solid;
    border-radius: 5px;
    border-width: 0;
    color: white;
    font-weight: bold;
}

span.Clickable {
    cursor: pointer;
}

span.InactiveTag {
    background-color: gray;
    border-style: solid;
    border-radius: 5px;
    border-width: 0;
    color: lightgray;
    font-weight: bold;
    cursor: pointer;
}
