* {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  box-sizing: border-box;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  max-width: 100vw;
}

body {
  background-image: url(assets/bg_damier_90.png);
}

header {
  background-color: rgb(250, 249, 220);
  display: flex;
  flex-direction: row;
  height: 60px;
}

.header-content {
  height: 100%;
  vertical-align: middle;
  font-size: 15pt;
}

main {
  padding: 20px;
}