.Page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0;
  margin: 0;
}

.Page > * { 
  margin-bottom: 10px;
}

div.BoxText {
  height: 30px;
  width: 90%;
  border: none;
  margin: 0;
  padding: 0;
  border-radius: 5px;
  text-align: left;
  background-color: white;
  font-size: 16px;
  font-weight: bold;
  color: black;
}

input.TextField {
  width: 100%;
  border: none;
}