.Page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0;
    margin: 0;
}

.Page > * { 
  margin-bottom: 10px;
}

div.Bar {
    width: 100%;
    background-color: lightgrey;
    border-style: solid;
    border-radius: 5px;
    border-width: 0;
    box-sizing: border-box;
    padding: 5px;
    text-align: left;
}

div.DetailPanel {
    width: 100%;
    box-sizing: border-box;
}

div.ClickablePanel {
    width: 100%;
    box-sizing: border-box;
    cursor: pointer;
}

div.CreationPanel {
    width: 100%;
    box-sizing: border-box;
    cursor: pointer;
    background-color: lightgrey;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
}

@media (max-width: 600px) {
  div.Bar table,
  div.Bar tbody,
  div.Bar tr {
    display: block;
    width: 100%;
  }

  div.Bar td {
    display: block;
    width: 100% !important;
    box-sizing: border-box;
  }
}
