div.BoxText {
  width: 90%;
  margin: 0;
  padding: 5px;
  border-radius: 5px;
  text-align: left;
  background-color: lightgrey;
  border-style: solid;
  border-radius: 10px;
  border-width: 2px;
  border-color: darkgrey;
  box-sizing: border-box;
}

td.Label {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: small;
  color: #544;
  width: 3cm;
}